ul{
    padding: 0;
    margin: 0;
}
 li{
        list-style: none;
    }
    a{
        text-decoration: none;
    }
body{
    font-family: 'Karla', sans-serif;
    color: #FFFFFF;
    margin: 0;
}
.container {
    padding: 0 50px;
    max-width: 1340px;
    margin: 0 auto;
  }
  
  h1 {
    font-family: "Acme";
    font-size: 80px;
    line-height: 101px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin: 0;
  }
  h2 {
    font-family: "Acme";
    font-size: 55px;
    line-height: 70px;
    text-transform: capitalize;
    color: #383838;
    margin: 0;
  }
  
  h3 {
    font-family: "Acme";
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;
    color: #383838;
    margin: 0;
  }
  p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #383838;
    margin: 0;
  }
  /* .hide-ml{
    margin-left: 0px !important;
  } */
  .hide {
    display: none;
  }
  .show{
    display: block !important;
  }
  
  .btn {
    cursor: pointer;
    border-radius: 28px;
    border: none;
    color: #FFFFFF;
    text-transform: uppercase;
    width: max-content;

  }
  .btn:hover{
    opacity: 0.8;
  }
  .btn-big {
    height: 51px;
    padding: 0 70px;
    font-size: 18px;
    line-height: 21px;
  }
  
  .btn-middle {
    padding: 0 50px;
    font-size: 16px;
    line-height: 19px;
    height: 49px;
  }
  
  .btn-red {
    background-color: #E9292F;
  }
  header .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0;
  }
  header .header-top .logo {
    max-width: 197px;
  }
  nav ul {
    display: flex;
  }
  nav ul li {
    margin-right: 40px;
    position: relative;
  }
   nav ul li:last-child {
    margin-right: 0;
  }

  nav ul li a {
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #383838;
    display: flex;
    align-items: center;
  }
  .arrow-drop-down{
    width: 10px;
    height: 10px;
    cursor: pointer;
    display: inline-block;
   margin-left: 7px;
  }
  .arrow-up{
    display: none;
  }
  .drop-down{
    position: absolute;
    width: 100px;
    background-color: #FFFFFF;
    box-shadow: 15px 15px 40px rgb(91 91 91 / 47%);
    border-radius: 6px;
    top: 20px;
    left: 0;
    display: none;
    z-index: 12;

  }
  .show-drop-down .arrow-down{
    display: none;
  }
  .show-drop-down .arrow-up{
    display: block !important;
  }
  .show-drop-down .drop-down{
    display: block !important;
  }
  .drop-down .item{
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #383838;
    padding: 5px 10px;
    cursor: pointer;

  }
  .drop-down .item:last-child{
    border-radius: 0px 0px 6px 6px;
  }
  .drop-down .item:first-child{
    border-radius: 6px 6px 0px 0px;
  }
  .drop-down .item:hover{
    background-color: #cdcdcd78;
  }
  header .header-top .header-icon {
    display: flex;
    align-items: center;
  }
  header .header-top .header-icon img {
    margin-left: 24px;
  }
  header .header-bottom {
    background-color: #1EA8DD;
  }
  header .header-bottom .grid-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  header .header-bottom .grid-block .item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 10px 5px 10px;
    border-left: 1px solid #FFFFFF;
  }
  header .header-bottom .grid-block .item:first-child {
    border-left: none;
  }
  .header-bottom span {
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    width: max-content;
  }
  header .header-bottom .grid-block .stars {
    display: flex;
    align-items: center;
    margin-left: 5px;
    position: relative;
    top: -1px;
  }
  header .header-bottom .grid-block .stars img {
    margin-left: 3px;
  }
  .home {
    background-image: url(../img/home-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 124px 0;
    background-position: center bottom;
  }
.home h1 {
    max-width: 720px;
  }
  .home .description {
    max-width: 514px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
  }
  
  .category-block {
    margin: 93px 0;
  }
  .category-block h2 {
    margin-bottom: 38px;
  }
  .category-block .category {
    display: grid;
    grid-template: auto/repeat(2, 1fr);
    gap: 20px;
  }
  .category-block .category-item {
    border-radius: 15px;
    overflow: hidden;
    isolation: isolate;
    display: flex;
    background: #F5F5F5;
  }
  .category-block .category-item .img-block {
    flex: 0 0 50%;
  }
  .category-block .category-item .img-block img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .category-block .category-item .img-block .img-hide {
    display: none !important;
  }
  .category-block .category-item:hover .img-show {
    display: none;
  }
  .category-block .category-item:hover .img-hide {
    display: block !important;
  }
  .category-item .text-block {
    padding: 22px 30px 30px 30px;
   
    text-align: center;
  }
  .category-item .text-block p {
    margin-bottom: 29px;
    margin-top: 4px;
  }
  
  .popular-block {
    margin-bottom: 10px;
    padding-left: 50px;
  }
  .grey-block {
    background: #F5F5F5;
    width: 60px;
    height: 60px;
    padding: 5px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .swiper-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    margin-bottom: 67px;

  }
  .swiper-btn{
    display: flex;
  }
  .swiper-button-disabled{
    opacity: 0.5 !important;
  }
  .swiper-button-prev{
    position: static;
    margin-right: 20px;
  }
  .swiper-button-prev::after{
    display: none;
  }
  .swiper-button-next::after{
    display: none;
  }
  .swiper-button-next{
    position: static;
  }
  .swiper-wrapper-item > div{
    max-width: 547px;
  }
  .slider-item .img-block img {
    width: 100%;
  }
  .swiper-item .content {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  .swiper-item .content p {
    margin-bottom: 20px;
  }
  .swiper-item .content h3 {
    margin-bottom: 4px;
  }
  .swiper-item .content .btn {
    flex-shrink: 0;
  }  
  @media only screen and (max-width: 1217px) {
    .header-bottom span {
      font-size: 12px;
      line-height: 120%;
    }
    .header-bottom img{
      width: 14px;
      height: 14px;
    }
  }
  @media only screen and (max-width: 1170px) {
    h1 {
      font-size: 50px;
      line-height: 63px;
    }
    h2 {
      font-size: 35px;
      line-height: 44px;
    }
    h3 {
      font-size: 20px;
      line-height: 25px;
    }
    .btn-big {
      height: 46px;
      padding: 0 70px;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
    }
    .btn-middle {
      width: 100%;
      padding: 0;
      font-size: 12px;
      height: 34px;
    }

    .category-item .text-block {
      padding: 20px 20px 24px 20px;
    }
    .category-item .text-block p {
      font-size: 12px;
    }
  }
  @media only screen and (max-width: 829px) {
    nav ul li {
      margin-right: 20px;
    }

  }
  @media only screen and (max-width: 768px) {
    .hide-mb {
      display: none;
    }
    .show-mb {
      display: block !important;
    }
    .container {
      padding: 0 17px;
    }
    .flex {
      display: flex;
      align-items: center;
    }
    header .logo {
      width: 150px;
    }
    header .header-icon-mb{
      width: 50px;
    }
    .nav-mb{
      position: absolute;
      margin-top: 30px;
      width: 100%;
      padding: 0;
      top: 52px;
      left: 0;
      display: none;
    }
    .nav-mb ul{
      padding: 20px 0 10px 0;
    }
    .nav-mb li{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .nav-mb  .drop-down{
      position: static;
      box-shadow: none;
      width: auto;

    }
    .nav-mb  .drop-down .item{
      padding: 5px 0;
      
    }
    .nav-mb  .drop-down .item:hover{
      background-color: transparent;
    }
    .nav-mb ul{
      flex-direction: column;
      align-items: center;
      background-color: #FFFFFF;
      border-radius:  0 0 8px 8px;
      width: 100%;

     }
     .nav-mb ul li{
      margin-right: 0;
      margin-bottom: 20px;
     }
     .show-nav-btn .icon-nav-mb{
      display: none !important;
     }
     .close{
      width: 25px;
      height: 25px;
      display: none;
     }
     .show-nav-btn .close{
      display: block;
     }
     .show-nav-btn .nav-mb{
      display: block !important;
     }
    .home .description {
      font-size: 18px;
      line-height: 150%;
      margin-bottom: 40px;
    }
    .category-block {
      margin: 72px 0;
    }
    .category-block .category {
      gap: 15px;
    }
    .category-block .category-item {
      display: block;
    }
    .category-block .category-item .text-block p {
      display: none;
    }
    .category-block .category-item .text-block h3{
      margin-bottom: 25px;
    }
    .popular-block .item-top {
      margin-bottom: 40px;
    }
    .popular-block .grey-block {
      width: 40px;
      height: 40px;
    }
    .popular-block{
        padding: 0 17px;
    }
    .popular-block  .swiper-top{
        padding-right: 0;
        align-items: flex-end;
        margin-bottom: 40px;
    }
    .swiper-item .content {
      display: block;
      width: 100%;
    }
    .swiper-item .content .btn{
      width: 100%;
    }
    .swiper-item img {
      width: 100%;
    }
  }
  @media only screen and (max-width: 390px) {
    .home {
      background-image: url(../img/home-img-mb.png);
    }
  }
